@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:slnt,wght@-10..0,100..900&display=swap');

.Navbar_container {
    position: sticky;
    top: 0;
    z-index: 100;
}

.Navbar_container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.Navbar_container nav .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.25rem;
    font-weight: 600;
    color: #004d00;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.Navbar_container nav .logo img {
    width: 6rem;
}

.Navbar_container nav .Search_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

.Navbar_container nav .Search_box .search {
    height: 5vh;
    width: 30vw;
    border: 1px solid #004d00;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar_container nav .Search_box .search input {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.Navbar_container nav .Search_box .search button {
    background: #004d00;
    border: none;
    height: 100%;
    padding: 5px 20px;
}

.Navbar_container nav .Location_container {
    border: 1px solid #004d00;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    height: 70%;
    margin-left: 20px;
}

.Navbar_container nav .Location_container img {
    width: 1.5rem;
    height: 1.5rem;
}

.Navbar_container nav .Location_container span {
    color: grey;
}

.Navbar_container nav .Menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #004d00;
    font-weight: 600;
}

.Navbar_container nav .Menu ul li {
    padding: 0 20px;
}

.Navbar_container nav .LoginBtn button {
    border: 1px solid #004d00;
    border-radius: 1rem;
    background: transparent;
    color: #004d00;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 15px 25px;
    margin-right: 10px;
}

.LoginContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(10px);
    background: rgba(186, 186, 186, 0.36);
}
